/*******************
* check and radio *
*******************/
/* draw regular check and radio items using our assets */
.check {
	-gtk-icon-source: url("assets/checkbox-unchecked-dark.svg");
}

.check:insensitive {
	-gtk-icon-source: url("assets/checkbox-unchecked-insensitive-dark.svg");
}

.check:checked {
	-gtk-icon-source: url("assets/checkbox-checked-dark.svg");
}

.check:checked:insensitive {
	-gtk-icon-source: url("assets/checkbox-checked-insensitive-dark.svg");
}

.check:inconsistent {
	-gtk-icon-source: url("assets/checkbox-mixed-dark.svg");
}

.check:inconsistent:insensitive {
	-gtk-icon-source: url("assets/checkbox-mixed-insensitive-dark.svg");
}

.radio {
	-gtk-icon-source: url("assets/radio-unselected-dark.svg");
}

.radio:insensitive {
	-gtk-icon-source: url("assets/radio-unselected-insensitive-dark.svg");
}

.radio:checked {
	-gtk-icon-source: url("assets/radio-selected-dark.svg");
}

.radio:checked:insensitive {
	-gtk-icon-source: url("assets/radio-selected-insensitive-dark.svg");
}

.radio:inconsistent {
	-gtk-icon-source: url("assets/radio-mixed-dark.svg");
}

.radio:inconsistent:insensitive {
	-gtk-icon-source: url("assets/radio-mixed-insensitive-dark.svg");
}

.menuitem.check {
	-gtk-icon-source: none;
}

.menuitem.radio {
	-gtk-icon-source: none;
}

GtkIconView.content-view.cell.check {
	-gtk-icon-source: url("assets/grid-selection-unchecked-dark.svg");
}

GtkIconView.content-view.cell.check:active {
	-gtk-icon-source: url("assets/grid-selection-checked-dark.svg");
}
